# Dependencies
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# Production
dist/
build/

# Environment Variables
.env
.env.local
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
backend/src/config/*.json
frontend/owner-portal/server/config/*.json
